@import url('./other-file.css');

body {
  margin: 0;
  height: 100%;
}
.warning {
  color: red;
}

.container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
